@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
 body, html{
    height: calc(100% - 2em);
    margin: 0;
    background-color: #95AFBC;
  
 
   
 }
 #Logo {
	width : 23vw;
	height : auto;
    padding : 1.5vh 6vw 5vh 38vw;
 }
 .qu{
     margin-top: 50px;
     margin-left: 300px;    
     width: 70%;
     height: auto;
 }