@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
 body, html{
    height: calc(100% - 2em);
    margin: 0;
    background-color: #95AFBC;
    background-image: url(Orang.svg);
    background-position: center;
    background-repeat: no-repeat;
   
  
}
#Logo {
	width : 23vw;
	height : auto;
    padding : 1.5vh 6vw 5vh 38vw;
}
form{
	
    border-radius : 70px 70px 70px 70px;
    padding: 5vh 6vw 5vh 4vw;;
    
}
main{
    padding: 0vh 0vw 5vh 35vw;
    margin-top: -50px;
    font-weight: 500;
}

.input {
    border: 1px solid #707070;
    border-radius: 10px;
    height: 1.5vw;
    width: 23.4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 15px;
    font-weight: 500;
    
    
}
.container{
    font-size: 20px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 23px;
    font-weight: bold;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #c0c0c0;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: rgb(233, 233, 233);
}

.container input:checked ~ .checkmark {
    background-color: #6F93C7;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}


.container .checkmark:after {
       top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background:#6F93C7;
}
.Agree{
    padding: 0vh 0vw 5vh 4vw ;
    margin-top: -50px;
}
.Submit{
    margin-left:150px;
    margin-top: -3vh;
	font-size : 20px;
	font-weight :600;
	color:black;
	background-color:#E7EBEE;
	text-align: center;
	width : 16%;
	height : 40px;
	border-radius : 30px 30px 30px 30px;
    padding-top : 0px;
}
.TAITEL{
    font-size: 23px;
    font-weight: bold;
}